* { margin: 0; padding: 0; box-sizing: border-box; }


$tittle: 'Inconsolata', monospace;

$font-weight-tittle: 400;

$color-background-sidebar: #1B1A1A;

$color-background-body: #1D1D1D;

$width-content: 95%;